:root {
  --contact-button-background-color: #f8e8ca;
  --buttons-and-links-text-and-border-color: #0c0c8b;
  --default-font-family: "Nunito", sans-serif;
  --headings-color: #504e4e;
  --home-page-background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--headings-color);
}

nav li.active a,
nav a:hover {
  color: var(--buttons-and-links-text-and-border-color);
}

.logo {
  max-width: 150px;
}

.mobile-logo {
  max-height: 40px;
}

.introducing-section {
  background-image: var(--home-page-background);
  padding: 160px 20px;
  text-align: center;
}

.introducing-section p {
  color: var(--headings-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.introducing-section h2 {
  color: var(--headings-color);
  font-size: 24px;
  line-height: 1.5;
}

.contact-section {
  padding-top: 80px;
}

.contact-section h3 {
  font-size: 18px;
  color: var(--buttons-and-links-text-and-border-color);
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 0 30px;
}

.content h1 {
  font-size: 52px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 18px;
  line-height: 1.5;
}

.contact-button {
  background: var(--contact-button-background-color);
  border: 1px solid var(--buttons-and-links-text-and-border-color);
  border-radius: 4px;
  color: var(---buttons-and-links-text-and-border-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.contact-button:hover {
  border: 1px solid var(--buttons-and-links-text-and-border-color);
}

.launch-project-button {
  border: 1px solid var(--buttons-and-links-text-and-border-color);
  border-radius: 4px;
  color: var(--buttons-and-links-text-and-border-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.launch-project-button:hover {
  border: 1px solid var(--buttons-and-links-text-and-border-color);
}

.project-description {
  padding: 5px 60px;
}

.project-description h2 {
  font-size: 64px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
  }

  .content h1 {
    font-size: 40px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
  }

  .introducing-section {
    padding: 80px 20px;
  }

  .project-description {
    text-align: center;
  }

  .project-description h2 {
    font-size: 18px;
  }

  .content-container {
    padding: 0;
    text-align: center;
  }
}
