:root {
  --contact-button-background-color: #f0f011;
  --buttons-text-and-border-color: #0c0c8b;
  --default-font-family: "Nunito", sans-serif;
  --headings-color: #504e4e;
  --home-page-background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.contact-button {
  border: 1px solid var(--buttons-text-and-border-color);
  border-radius: 4px;
  background: var(--contact-button-background-color);
  color: var(---buttons-text-and-border-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.launch-project-button {
  border: 1px solid var(--buttons-text-and-border-color);
  border-radius: 4px;
  color: var(--buttons-text-and-border-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.introducing-section {
  background-image: var(--home-page-background);
  padding: 160px 20px;
  text-align: center;
}

.introducing-section p {
  color: var(--headings-color);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.introducing-section h2 {
  color: var(--headings-color);
  font-size: 24px;
  line-height: 1.5;
}

.project-description {
  padding: 5px 60px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .introducing-section {
    padding: 80px 20px;
  }

  .project-description {
    text-align: center;
  }
}
